[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
gunicorn = "*"
python-decouple = "*"
jinja2 = "*"
sqlalchemy = "*"
psycopg = "*"
alembic = "*"
psycopg2 = "*"
length = "*"
stress = "*"
pytz = "*"
data = "*"
pycrypto = "*"
passlib = "*"
bcrypt = "*"
tweepy = "*"
httpx = "*"
timing-asgi = "*"
bcolors = "*"
white = "*"
timestamp = "*"
thumbnail = "*"
results = "*"
reverse = "*"
fastapi-jwt-auth = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-multipart = "*"
flask = "*"
oauth = "*"
python-jose = "*"
app = "*"
google-cloud-storage = "*"
firebase = "*"
firebase-admin = "*"
pyxtension = "*"
googletrans = "==4.0.0rc1"
mangum = "*"
aws-psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
