{% extends "security/password_generator_v2/base.html" %}
{% block body %}

<div class="container-fluid">

    <div class="row justify-content-center ">

        <div class="col-12 col-sm-11 col-md-9 col-lg-7">
            <h1 class="title-style">自動パスワードジェネレータ</h1>

            <div class="input-group mb-3 top-title-buffer">
                <input type="preview" class="form-control" id="password" disabled name="preview" value="{{password}}"
                       placeholder="Password">
                <button class="btn btn-outline-secondary button-style p-2" type="button" onclick="copyToClipboard()">コピー
                </button>
                <button class="btn btn-outline-secondary dropdown-toggle collapsed p-2" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                </button>

            </div>


            <div class="row justify-content-end g-4">


                <div class="col-12 col-sm-12 col-md-12 col-lg-10">
                    <div class="accordion accordion-flush" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">

                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="row justify-content-between gap-2">
                                        <h5 class="p-0">This is the first item's accordion body.</h5>
                                        <form class="row justify-content-between col-12 col-xl-6 p-1">
                                            <label class="form-label col-12">No.1</label>

                                            <input class="col-9 col-xl-8" type="range" name="amountRange" min="0"
                                                   max="20"
                                                   value="0"
                                                   oninput="this.form.amountInput.value=this.value"/>
                                            <input class="col-2 col-xl-3 float-end text-end p-0" type="number"
                                                   name="amountInput"
                                                   min="0" max="20" value="0"
                                                   oninput="this.form.amountRange.value=this.value" disabled/>
                                        </form>

                                        <form class="row justify-content-between col-12 col-xl-6 p-1">
                                            <label class="form-label col-12">No.2</label>

                                            <input class="col-9 col-xl-8" type="range" name="amountRange" min="0"
                                                   max="20"
                                                   value="0"
                                                   oninput="this.form.amountInput.value=this.value"/>
                                            <input class="col-2 col-xl-3 float-end text-end p-0" type="number"
                                                   name="amountInput"
                                                   min="0" max="20" value="0"
                                                   oninput="this.form.amountRange.value=this.value" disabled/>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-0 col-lg-1"></div>
                <div class="col-6 col-sm-6 col-md-5 col-lg-5 col-xl-4 ">
                    <a class="btn btn-primary float-end col-12 p-2 button-style button-submit" href="/pwg_v2"
                       role="button">再生する</a>


                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}