{% extends "security/password_generator_v2/base.html" %}
{% block body %}

<div class="container-fluid">

    <div class="row justify-content-center ">

        <div class="col-12 col-sm-11 col-md-9 col-lg-8 col-xl-7">
            <h1 class="title-style text-center">รหัสผ่านความปลอดภัยแบบสุ่ม</h1>

            <div class="input-group mb-3 top-title-buffer">
                <input type="preview" class="form-control text-middle" id="password" disabled name="preview" value="{{password}}"
                       placeholder="Password">
                <button class="btn btn-outline-secondary button-style p-2" type="button" onclick="copyToClipboard()">คัดลอก
                </button>
                <button class="btn btn-outline-secondary button-style dropdown-toggle collapsed p-2" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                </button>

            </div>


            <div class="row justify-content-end g-4">


                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10">
                    <div class="accordion accordion-flush" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">

                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse {{action}}" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">

                                    <div class="card col-12">
                                        <h5 class="card-header card-title-text">ปรับแต่ง</h5>

                                        <div class="card-body">

                                            <div class="row p-0">

                                                <form class="col-xl-6">
                                                    <label class="form-label col-12 card-body-text">จำนวนอักษร</label>

                                                    <input class="col-9 col-xl-8 align-middle" type="range"
                                                           name="amountRange"
                                                           min=5
                                                           max="8"
                                                           value="{{length}}"
                                                           oninput="this.form.amountInput.value=this.value"/>
                                                    <input class="col-2 col-xl-3 float-end text-end p-0 align-middle"
                                                           type="number"
                                                           id="input-length"
                                                           name="amountInput"
                                                           min="5" max="8" value="{{length}}"
                                                           oninput="this.form.amountRange.value=this.value" disabled/>
                                                </form>
                                                <form class="col-xl-6">
                                                    <label class="form-label col-12 card-body-text">จำนวนชุด</label>

                                                    <input class="col-9 col-xl-8 align-middle" type="range"
                                                           name="amountRange"
                                                           min="3"
                                                           max="10"
                                                           value="{{step}}"
                                                           id="input-step"
                                                           oninput="this.form.amountInput.value=this.value"/>
                                                    <input class="col-2 col-xl-3 float-end text-end p-0 align-middle"
                                                           type="number"
                                                           name="amountInput"
                                                           min="3" max="10" value="{{step}}"
                                                           oninput="this.form.amountRange.value=this.value" disabled/>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-0 col-lg-1 mb-3"></div>
                <div class="col-6 col-sm-6 col-md-5 col-lg-5 col-xl-4">
                    <button class="btn btn-primary float-end col-12 p-2 button-style button-submit" onclick="callAPI()"
                       >สร้างใหม่</button>


                </div>
                <div class="col-0 col-xl-1"></div>

            </div>
        </div>
    </div>
</div>


{% endblock %}