

    .center {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    .content_center {
      top: 50%;
      position: absolute;
      left: 30%;
      right: 30%;

      max-width: 740px;
      background: red;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);


    }

    .top-buffer { margin-top:70px; }
    .top-title-buffer { margin-top:70px; }

    .title-style { font-family: 'Rampart One', cursive; }
    .button-style {
    font-family: 'Kiwi Maru', serif;
    }
    .preview-style {
    font-family: 'Staatliches', cursive;
    }
    .preview-style-2 {
    font-family: 'Inconsolata', monospace;
font-size: 30px;
    }

    .button-submit {
    width: 150px !important;
    }

    input[type="preview"]
{
    font-family: 'Inconsolata', monospace;
    font-size:18px;
}



