

    .center {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    .content_center {
      top: 50%;
      position: absolute;
      left: 30%;
      right: 30%;

      max-width: 740px;
      background: red;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);


    }

    .top-buffer { margin-top:70px; }
    .top-title-buffer { margin-top:70px; }

    .title-style { font-family: 'Itim', cursive;     font-size:40px;
    color: #555555;

}

.nav-title-style { font-weight: 700; font-size:20px;
    color: #6B10F4;
}

    .button-style {
font-family: 'Itim', cursive;
        border-radius: 12px;
border: 1px solid #afafaf;
    }

    .preview-style {
font-family: 'Itim', cursive;

    }
    .preview-style-2 {
font-family: 'Itim', cursive;
font-size: 30px;
    }

    .button-submit {
    border-radius: 14px;
    width: 150px !important;
    border: 0px solid #afafaf;
    font-size:18px;

    }

    input[type="preview"]
{
font-family: 'Courier Prime', monospace;
    font-size:18px;
        border-radius: 12px;

}

input[type="number"]
{
font-family: 'Courier Prime', monospace;
    font-size:18px;
    color: #5b5b5b;

}

.card-body-text {
font-family: 'Itim', cursive;
font-size: 18px;
color: #5b5b5b;
}

.card-title-text {
font-family: 'Itim', cursive;
color: #525252;
font-size: 24px;
}



.card-page {
    border-radius: 12px;
    width: 18rem;
    }

.card-img-top-page {
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
        height: 150px;
        object-fit: cover;
    }

.card_body_page {
    border-radius: 14px;
    width: 150px !important;
    border: 0px solid #afafaf;
    font-size:18px;

    }

    .card-title-page {
    font-family: 'Itim', cursive;
font-size: 24px;
font-weight: 700;

    }

    .card-button-submit-page {
    border-radius: 6px;
    width: 100px !important;
    border: 0px solid #afafaf;
    font-size:18px;
    font-family: 'Itim', cursive;


    }
    .card-outline-button-submit-page {
    border-radius: 6px;
    width: 80px !important;
        border: 0px solid #afafaf;
    font-size:18px;
    font-family: 'Itim', cursive;


    }



